/* styles.css */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545; /* Red for "OFF" state */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button.on {
    background-color: #28a745; /* Green for "ON" state */
  }
  